.basket-header {
    margin-bottom: 10px;
}

.tile {
    background: white;
    border: 1px solid #4DB6AC;
    margin: 5px;
    padding: 10px;
    position: absolute;
    width: 200px;
}

.tile-photo {
    alignment: center;
    max-width: 180px;
}

#add-yarn-button {
    background-color: #4DB6AC;
    border-color: #4DB6AC;
    font-size: 14px;
    margin-top: 10px;
    vertical-align: bottom;
}

#basket-headline {
    margin-top: 10px;
}