
#add-yarn-button {
    vertical-align: bottom;
    background-color: #4DB6AC;
    border-color: #4DB6AC;
    font-size: 14px;
    margin-top: 10px;
}
#basket-headline {
    margin-top: 10px;
}
.basket-header {
    margin-bottom: 10px;
}