.basket-header {
    margin-bottom: 10px;
}

#add-yarn-button {
    background-color: #4DB6AC;
    border-color: #4DB6AC;
    font-size: 14px;
    margin-top: 10px;
    vertical-align: bottom;
}

#basket-headline {
    margin-top: 10px;
}