
body {
    margin:0;
    padding:0;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
.map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
#yelp_results {
    float: left;
}
#groups {
    float: left;
}
#map {
    float: left;
    position: relative;
    width: 400px;
    height: 400px;
}
.map-container {
    position: relative;
}
