body {
    margin: 0;
    padding: 0;
}

.group-name {
    font-weight: 700;
}

.group-box {
    margin: 10px;
    padding: 5px 5px -5px;
}

.yarn-shop {
    margin-bottom: 8px;
}

.yelp-biz-name {
    font-weight: 700;
}

#groups {
    float: left;
}

#map {
    border: 1px solid #4DB6AC;
    float: left;
    height: 500px;
    margin-top: 50px;
    position: relative;
}

#yelp_results {
    float: left;
}