
body {
    margin:0;
    padding:0;
}
#yelp_results {
    float: left;
}
#groups {
    float: left;
}
#map {
    float: left;
    position: relative;
    height: 500px;
}
.yelp-biz-name {
    font-weight: bold;
}
.group-name {
    font-weight: bold;
}