html {
    height: 100%;
}

body {
    background-color: #E0F2F1;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.btn, .btn-info, .btn-lg {
    background-color: #4DB6AC;
    border-color: #4DB6AC;
}

.centered {
    text-align: center;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.close {
    color: rgba(22, 28, 29, 0.93);
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 12;
}

.close:hover, .close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.hidden {
    display: none;
}

.nav, .navbar, .navbar-default {
    background-color: #4DB6AC;
    border-radius: 0;
    color: #000000;
}

.navbar-default .navbar-brand {
    color: #151515;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.page-header {
    border-bottom: 1px solid #4DB6AC;
}

.pref-box {
    margin-left: 20px;
}

.search-buttons {
    margin-left: 20px;
}

.sweater {
    height: 300px;
}

.unbold-header {
    font-weight: 400;
}

#update-preferences-button, #personalized-search-button, #parameter-search-button {
    background-color: #4DB6AC;
    border-color: #4DB6AC;
    font-size: 14px;
}