.tile {
    background: white;
    border: 1px solid #4DB6AC;
    margin: 5px;
    padding: 10px;
    position: absolute;
    width: 200px;
}

.tile-photo {
    alignment: center;
    max-width: 180px;
}