html {
    height: 100%;
}

body {
    background-color: #E0F2F1;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    padding-top: 70px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.btn, .btn-info, .btn-lg {
    background-color: #4DB6AC;
    border-color: #4DB6AC;
}

.hidden {
    display: none;
}

.nav, .navbar, .navbar-default {
    background-color: #4DB6AC;
    border-radius: 0;
    color: #000000;
}

.navbar-default .navbar-brand {
    color: #151515;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.page-header {
    border-bottom: 1px solid #4DB6AC;
}