
/*.white-panel:hover {*/
  /*box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);*/
  /*margin-top: -5px;*/
  /*-webkit-transition: all 0.3s ease-in-out;*/
  /*-moz-transition: all 0.3s ease-in-out;*/
  /*-o-transition: all 0.3s ease-in-out;*/
  /*transition: all 0.3s ease-in-out;*/
/*}*/
.tile-photo {
  max-width: 180px;
  alignment: center;
}
.tile {
  position: absolute;
  background: white;
  padding: 10px;
  width: 200px;
  margin: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}