{% extends 'base.html' %}

{% block header %}
    <title>commuKNITty: {{ user.username }}'s basket</title>
{% endblock %}

{% block body %}

    <div id="add_yarn_section">
        <label><button id="add_yarn_button">Add yarn to your basket</button></label>
        <div id="search_yarn_by_name" style="display: none">
            <label>Name of yarn: <input type="text" id="yarn_name_field"></label>
            <label><input type="submit" id="search_yarns" value="Search Yarns"</label>
        </div>
        <div id="yarn_search_results" style="display: none">

        </div>
        href="/add_yarn_to_basket"
    </div>
    <br>

    {% if user_basket_yarns|length > 0 %}
        <h3>What's in your basket?</h3>
        {% for yarn in user_basket_yarns %}
            <div class="basket_yarn_photo">
                <img src="{{ yarn.yarn.yarn_photo }}">
            </div>
            <div class="basket_yarn_data">
                <p>{{ yarn.yarn.yarn_company }} {{ yarn.yarn.yarn_name }}</p>
                <p>Color: {{ yarn.colorway }}</p>
                <p>Yards in basket: {{ yarn.yards }}</p>
                <a href="/yarn_driven_search/{{ yarn.basket_yarn_id }}">Things to make with this yarn</a>
                <br>
            </div> {# end basket_yarn_data class #}
        {% endfor %}
    {%  else %}
        <label>You don't have any yarn in your basket yet.</label>
    {% endif %}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type='text/javascript' src='/static/basket.js'></script>

{% endblock %}