{% extends 'base.html' %}

{% block head %}
    <title>commuKNITty: {{ user.username }}'s basket</title>
    <link rel="stylesheet" href="/static/css/freetile.css"></link>
    <link rel="stylesheet" href="/static/css/basket.css"></link>

{% endblock %}

{% block body %}

<div id="add-yarn-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Yarn</h4>
      </div>
      <div class="modal-body" id="search-yarn">
            <form id="search-yarn-form">
                <label>Name of yarn (case-sensitive): <input type="text" id="yarn-name-field" name="yarn_name"></label>
                <br><label><input type="submit" id="search-yarn-submit" value="Search Yarns"></label>
            </form>
      </div>
      <div class="modal-body hidden" id="add-new-yarn">
            <p>No yarns matched your search.</p>
            <button class="search-again-button">Search again</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{# end modal window content #}

    <div class="container">
    <div id="basket_header" class="row">
        <div class="col-xs-6">
            <h3>What's in your basket?</h3>
        </div>
        <div class="col-xs-6">
            <button type="button" id="add-yarn-button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#add-yarn-modal">Add yarn to your basket</button>
        </div>
    </div>

        {% if user_basket_yarns|length > 0 %}
            <div class="row">
                <hr>
                <section id="container">
                    {% for yarn in user_basket_yarns %}
                        <div class="tile basket-yarn-data">
                            <img class="tile-photo basket-yarn-photo" src="{{ yarn.yarn.yarn_photo }}" alt="">
                            <h4 class="tile-title">{{ yarn.yarn.yarn_company }} {{ yarn.yarn.yarn_name }}</h4>
                            <p class="tile-content">Color: {{ yarn.colorway }}<br>
                                Yards: {{ yarn.yards }}</p>
                            <a href="/yarn_driven_search/{{ yarn.basket_yarn_id }}" class="tile-link">What to make with this yarn</a>
                        </div>
                    {% endfor %}
                </section>
                <hr>
            </div>
        {%  else %}
            You don't have any yarn in your basket yet.
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/vendor/jquery.freetile.js"></script>
    <script type='text/javascript' src='/static/js/basket.js'></script>

{% endblock %}

