{% extends 'base.html' %}

{% block header %}

    <title>commuKNITty: A place where knitters plan their yarny adventures</title>


{% endblock %}

{% block body %}

    <!-- It's container-fluid so it spans the whole page. -->
    <div class="container-fluid">
        <h2>CommuKNITty</h2>
        <div class="row">
            <section class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" id="splash">
                <p>A place where knitters plan their yarny adventures</p>
            </section>
        </div>

        <div class="row">
            <section class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" id="splash">
                <p>Welcome {{ user.username }}<p>
            </section>
        </div>
        <!-- End of centered main text. -->
    </div>

{% endblock %}
