{% extends 'base.html' %}

{% block header %}

<title>commuKNITty: Home page for {{ user.username }}</title>
{% endblock %}

{% block body %}
    
    <h2>Welcome {{ user.username }}</h2>

    <h2><a href="/profile/{{ user.username }}">See your profile</a></h2>
{#                  <a href="/melon/{{ melon.id }}">#}
{#                      <img src="{{ melon.image_url }}" class="img-circle">#}
{#                  </a>#}

    <h3><a href="/search">Search for patterns to knit</a></h3>

{% endblock %}

