{% extends 'base.html' %}

{% block header %}

    <title>commuKNITty: A place where knitters plan their yarny adventures</title>

{% endblock %}

{% block body %}

    <!-- It's container-fluid so it spans the whole page. -->
    <div class="container-fluid">
         <div class="row">
            <section class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                <h1 class="centered">CommuKNITty</h1>
                <h3 class="centered">A place where knitters plan their yarny adventures</h3>
            </section>
        </div>
        <div class="row">
            <section class="col-xs-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                <img class="centered-image sweater" src="/static/anja-hoodie.jpeg" alt="sweater">
            </section>
        </div>
        <!-- End of centered main text. -->
    </div>

{% endblock %}
