{% extends 'base.html' %}

{% block header %}

    <meta charset='utf-8' />
    <title>commuKNITty: Local</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.2/mapbox-gl.js'></script>
    <link href='/static/local.css' rel='stylesheet' />

{% endblock %}

{% block body %}

    <div id="all-the-things" class="container">
        <div class="row">
            <div id="groups" class="col-xs-3">
                <h4>Weekly knit nights near you</h4>
                {% for group in groups %}
                    <p>{{ group.group_name }}<br>
                        meets on {{ group.day }} at {{ group.time }}<br>
                        at {{ group.location }} in {{ group.city }}</p>
                {% endfor %}
            </div>

            <div class="map-container col-xs-6">
                <div id='map'></div>
            </div>

            <div id="yelp-results" class="col-xs-3">
                <h2>Local knitterly resources</h2>
                    {% for biz in business_list %}
                        <a class="yelp-biz-name">{{ biz.biz_name }}</a><br>
                        <a class="yelp-biz-addr">{{ biz.biz_addr }}</a><br>
                        <a class="yelp-url" href="{{ biz.biz_url }}">find {{ biz.biz_name }} on Yelp</a><br>
                    {% endfor %}

            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/local.js"></script>

{% endblock %}