{% extends 'base.html' %}

{% block head %}

    <title>commuKNITty: Local</title>
    <meta name="viewport" content="initial-scale=1.0"></meta>
    <meta charset="utf-8"></meta>
    <link rel='stylesheet' href='/static/css/local.css'></link>

{% endblock %}

{% block body %}

    <div id="all-the-things" class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">Local knitterly resources</h2>
            </div>
        </div>

        <div class="row">
            <div id="yelp-results" class="col-xs-3">
                <h3>Yarn Shops</h3>
                <ol type="A">
                    {% for index in range(business_list|length) %}
                        <li class="yarn-shop">
                        <span class="yelp-biz-name"> {{ business_list[index].biz_name }}</span><br>
                        <span class="yelp-biz-addr"> {{ business_list[index].biz_addr }}</span><br>
                        </li>
                    {% endfor %}
                </ol>
            </div>

            <div id='map' class="map-container col-xs-6"></div>

            <div id="groups" class="col-xs-3">
                <h3>Weekly Knit Nights</h3>
                <ul>
                {% for group in groups %}
                    <li class="group-box" type="square">
                        <span class="group-name">{{ group.group_name }}</span>
                        <p>{{ group.day }} at {{ group.time }}<br>
                           {{ group.location }} in {{ group.city }}</p>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1bTInkFdBwjZhmMUc1VmVPo8X3zAbaAw"></script>
    <script src="/static/js/local.js"></script>

{% endblock %}