{% extends 'base.html' %}

{% block header %}

    <meta charset='utf-8' />
    <title>commuKNITty: Local</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.2/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
    <style>
        .mapboxgl-popup {
            max-width: 400px;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }

        .marker-title {
            font-weight: 700;
        }
        #yelp_results {
            float: left;
        }
        #map {
            float: left;
            position: relative;
{#            width: 400px;#}
            height: 400px;
        }
    </style>

{% endblock %}

{% block body %}

    <div id="all-the-things">
        <div id="yelp-results">
            <h2>Local knitterly resources</h2>
                {% for biz in business_list %}
                    <a class="yelp-biz-name">{{ biz.biz_name }}</a><br>
                    <a class="yelp-biz-addr">{{ biz.biz_addr }}</a><br>
                    <a class="yelp-url" href="{{ biz.biz_url }}">find {{ biz.biz_name }} on Yelp</a><br>
                {% endfor %}
            <div id="local-meetups">group things here</div>
        </div>

        <div id='map'></div>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script>

    function renderMap(results) {
        mapboxgl.accessToken = 'pk.eyJ1Ijoia2FyYXlvdW50IiwiYSI6ImNpa3l3NjNoODA5M3J1YWtzbWN5bjFxd2MifQ.lpKDreQHp7X-urPys6nmSg';
        var markers = results;

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v8',
            center: [-122.45, 37.77],
            zoom: 11
        });

        map.on('style.load', function () {
            // Add marker data as a new GeoJSON source.
            map.addSource("markers", markers);

{#            {#}
{#                "type": "geojson",#}
{#                "data": markers#}
{#            }#}

            // Add a layer showing the markers.
            map.addLayer({
                "id": "markers",
                "interactive": true,
                "type": "symbol",
                "source": "markers",
                "layout": {
                    "icon-image": "{marker-symbol}-15",
                    "icon-allow-overlap": true
                }
            });
        });

        var popup = new mapboxgl.Popup();

        // When a click event occurs near a marker icon, open a popup at the location of
        // the feature, with description HTML from its properties.
        map.on('click', function (e) {
            map.featuresAt(e.point, {
                radius: 7.5, // Half the marker size (15px).
                includeGeometry: true,
                layer: 'markers'
            }, function (err, features) {

                if (err || !features.length) {
                    popup.remove();
                    return;
                }

                var feature = features[0];

                // Popuplate the popup and set its coordinates
                // based on the feature found.
                popup.setLngLat(feature.geometry.coordinates)
                    .setHTML(feature.properties.description)
                    .addTo(map);
            });
        });

        // Use the same approach as above to indicate that the symbols are clickable
        // by changing the cursor style to 'pointer'.
        map.on('mousemove', function (e) {
            map.featuresAt(e.point, {
                radius: 7.5, // Half the marker size (15px).
                layer: 'markers'
            }, function (err, features) {
                map.getCanvas().style.cursor = (!err && features.length) ? 'pointer' : '';
            });
        });
        }

    $.get("/get_markers.json", renderMap);

    </script>

{% endblock %}