
{# show patterns with: image, name, pattern_category, link to Rav#}

{% extends 'base.html' %}

{% block header %}

    <link rel='stylesheet' href='/static/basket-yarn-patterns.css' media='screen' />
    <title>commuKNITty: patterns for {{ basket_yarn.yarn.yarn_name }}</title>

{% endblock %}

{% block body %}

    <h3>Patterns for {{ basket_yarn.yarn.yarn_name }}</h3>
    <!-- Content -->
    <section id="wrapper">
    <div id="container">
        {% for pattern in patterns %}
            <div class="grid">
                <div class="imgholder">
                    <img src={{ pattern.pattern_photo }}>
                </div>
                <strong>{{ pattern.pattern_name }}</strong>
                <p>category: {{ pattern.pattern_category | prettify_preference }}</p>
                <a href="{{ pattern.rav_pattern_link }}">See details on Ravelry</a>
            </div>
        {% endfor %}
        <!---->
    </div>
    </section>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/basket-yarn-patterns.js"></script>

{% endblock %}

<