
{% extends 'base.html' %}

{% block head %}

    <link rel='stylesheet' href='/static/css/freetile.css'>
    <title>commuKNITty: patterns for {{ basket_yarn.yarn.yarn_name }}</title>

{% endblock %}

{% block body %}

    <div class="container">
    <div id="pattern_header" class="row">
        <div class="col-xs-12">
            <h2 class="page-header">Patterns for {{ basket_yarn.yarn.yarn_name }}</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <section id="container">
                {% for pattern in patterns %}
                    <div class="tile pattern">
                        <img class="tile-photo pattern-photo" src="{{ pattern.pattern_photo }}" alt="">
                        <h4 class="tile-title">{{ pattern.pattern_name }}</h4>
                        <p class="tile-content">category: {{ pattern.pattern_category | prettify_preference }}</p>
                        <a href="{{ pattern.rav_pattern_link }}" class="tile-link">See details on Ravelry</a>
                    </div>
                {% endfor %}
            </section>
            <hr>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/vendor/jquery.freetile.js"></script>
    <script type="text/javascript" src="/static/js/freetile.js"></script>

{% endblock %}