{% extends 'base.html' %}

{% macro print_current_pref(category, master_list, user_list, heading) %}
    <h5>{{ heading }}:</h5>
    <ul>
    {% if user_list | length < 1 %}
        <li class="display-preference">None selected</li>
    {% else %}
        {% for pref in master_list %}
            {% if pref in user_list %}
                <li class="display-preference" id="{{ category }}-{{ pref }}-display">{{ pref | prettify_preference }}</li>
            {% else %}
                <li class="display-preference hidden" id="{{ category }}-{{ pref }}-display">{{ pref | prettify_preference }}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
{% endmacro %}

{% macro print_update_pref(category, master_list, user_list, heading) %}
    <label>{{ heading }}</label><br>
    {% for pref in master_list %}
        {% if pref in user_list %}
            <label class="pref-box"><input type="checkbox" name="{{ category }}" value="{{ pref }}" checked id="{{ category }}-{{ pref }}"> {{ pref | prettify_preference }}</label><br>
        {% else %}
            <label class="pref-box"><input type="checkbox" name="{{ category }}" value="{{ pref }}" id="{{ category }}-{{ pref }}"> {{ pref | prettify_preference }}</label><br>
        {% endif %}
    {% endfor %}
{% endmacro %}


{% block header %}
    <title>commuKNITty: {{ user.username }}'s profile</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="welcome-user" class="row col-xs-12">
            <h2>Welcome {{ user.username }}</h2>
        </div>
        <div id="about-me" class="row">
            <div class="col-xs-2">
                <img src="{{ user.photo }}" alt="Userface">
            </div>
            <div class="col-xs-10">
                <p>Years knitting: {{ user.years_knitting }}</p><br>
                <p>Lifetime miles knit: {{ user.miles_knit }}</p>
            </div>
        </div>
        <div class="row">
            <h3 text="bold">Your preferences</h3>
        </div>
        <div id="preferences">
            <div class="row">
                {% if (user_prefs.pc|length == 0) and (user_prefs.fit|length == 0) and
                      (user_prefs.weight|length == 0) and (user_prefs.pa|length == 0) %}
                    <div class="col-xs-12">
                        You have no preferences saved. You can update your preferences below.<br>
                    <div>
            {% else %}
                <div class="col-xs-3">
                    {{ print_current_pref('pc', all_prefs.pc, user_prefs.pc, 'Items you like to knit') }}<br>
                </div>
                <div class="col-xs-3">
                    {{ print_current_pref('fit', all_prefs.fit, user_prefs.fit, 'Size(s) you like to knit') }}<br>
                </div>
                <div class="col-xs-3">
                    {{ print_current_pref('weight', all_prefs.weight, user_prefs.weight, 'Preferred yarn weight(s)') }}<br>
                </div>
                <div class="col-xs-3">
                    {{ print_current_pref('pa', all_prefs.pa, user_prefs.pa, 'Techniques you enjoy') }}<br>
                </div>
            {% endif %}
        </div> <!-- end id preferences -->

            <!-- allow to update preferences -->
            <div id="preferences-form">
            <br>
                <button id="update-preferences-button">Update your preferences</button>
                <br><br>
                <div class="row">
                    <form id="update-preferences-form" class="hidden">
                        <div class="col-xs-3">
                            {{ print_update_pref('pc', all_prefs.pc, user_prefs.pc, 'What do you like to knit?') }}<br>
                        </div>
                        <div class="col-xs-3">
                            {{ print_update_pref('fit', all_prefs.fit, user_prefs.fit, 'Who do you like to knit for?') }}<br>
                        </div>
                        <div class="col-xs-3">
                            {{ print_update_pref('weight', all_prefs.weight, user_prefs.weight, 'What are your preferred yarn weights?') }}<br>
                        </div>
                        <div class="col-xs-3">
                            {{ print_update_pref('pa', all_prefs.pa, user_prefs.pa, 'Do you enjoy any of these techniques?') }}<br>
                        </div>
                    </form>
                </div>
            </div> <!-- end preferences_form -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type='text/javascript' src='/static/preferences_form.js'></script>

{% endblock %}