{% extends 'base.html' %}

{% macro print_current_pref(category, master_list, user_list, heading) %}
    <br>{{ heading }}:
    {% for pref in master_list %}
        {% if pref in user_list %}
            <a id="{{ category }}-{{ pref }}-display">{{ pref | prettify_preference }}</a>
        {% else %}
            <a id="{{ category }}-{{ pref }}-display" class="hidden">{{ pref | prettify_preference }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro print_update_pref(category, master_list, user_list, heading) %}
    <label>{{ heading }}</label><br>
    {% for pref in master_list %}
        {% if pref in user_list %}
            <label><input type="checkbox" name="{{ category }}" value="{{ pref }}" checked id="{{ category }}-{{ pref }}"> {{ pref | prettify_preference }}</label>
        {% else %}
            <label><input type="checkbox" name="{{ category }}" value="{{ pref }}" id="{{ category }}-{{ pref }}"> {{ pref | prettify_preference }}</label>
        {% endif %}
    {% endfor %}
{% endmacro %}


{% block header %}
    <title>commuKNITty: {{ user.username }}'s profile</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <h2>Welcome {{ user.username }}</h2>
    <div id="about-me">
        <img src={{ user.photo }}>
        <label>Years knitting: {{ user.years_knitting }}</label>
        <label>Lifetime miles knit: {{ user.miles_knit }}</label>
    </div>
    <div id="preferences">    
        <h4 text="bold">Your preferences</h4>

        {% if (user_prefs.pc|length == 0) and (user_prefs.fit|length == 0) and
              (user_prefs.weight|length == 0) and (user_prefs.pa|length == 0) %}
            You have no preferences saved. You can update your preferences below.<br>
        {% else %}
            {{ print_current_pref('pc', all_prefs.pc, user_prefs.pc, 'You like to knit these kinds of items') }}<br>
            {{ print_current_pref('fit', all_prefs.fit, user_prefs.fit, 'Size(s) you like to knit') }}<br>
            {{ print_current_pref('weight', all_prefs.weight, user_prefs.weight, 'Preferred yarn weight(s)') }}<br>
            {{ print_current_pref('pa', all_prefs.pa, user_prefs.pa, 'Techniques you enjoy') }}<br>
        {% endif %}
    </div> <!-- end id preferences -->

    <!-- allow to update preferences -->
    <div id="preferences-form">
    <br>
        <button id="update-preferences-button">Update your preferences</button>
        <form id="update-preferences-form" class="hidden">
            {{ print_update_pref('pc', all_prefs.pc, user_prefs.pc, 'What do you like to knit? (Choose as many as you like.') }}<br>
            {{ print_update_pref('fit', all_prefs.fit, user_prefs.fit, 'Who do you like to knit for?') }}<br>
            {{ print_update_pref('weight', all_prefs.weight, user_prefs.weight, 'What are your preferred yarn weights?') }}<br>
            {{ print_update_pref('pa', all_prefs.pa, user_prefs.pa, 'Do you enjoy any of these techniques?') }}<br>
        </form>
    </div> <!-- end preferences_form -->     

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type='text/javascript' src='/static/preferences_form.js'></script>

{% endblock %}