{% extends 'base.html' %}

{% block header %}
    <title>commuKNITty: search</title>
{% endblock %}

{% block body %}

    <label><button id="personalized_search_button">Search for personalized recommendations</button></label>
    <br>
    <label><button id="pattern_search_button">Search for patterns by attribute</button></label>
    <form id="pattern_search_form" style="display: none">
        <label><input type="text">put whole checkbox list from profile here</label>
    </form>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type='text/javascript' src='/static/search_forms.js'></script>


{% endblock %}