{% extends 'base.html' %}

{% macro print_pref(category, master_list, heading) %}
    <label>{{ heading }}</label><br>
    {% for pref in master_list %}
        <label><input type="checkbox" name="{{ category }}" value="{{ pref }}" id="{{ category }}-{{ pref }}"> {{ pref | prettify_preference }}</label>
    {% endfor %}
{% endmacro %}

{% block header %}
    <title>commuKNITty: search</title>
    <style>
        .start-hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <form action="/preference_search_results">
        <label><input type="submit" value="See patterns recommended just for you" id="personalized_search_button"></input></label>
    </form>
    <br>

    <label><button id="parameter-search-button">Search for patterns</button></label>
    <form action="/parameter_search_results" method='POST' id="parameter-search-form" class="start-hidden">
        <br>{{ print_pref('pc', all_prefs.pc, 'Pattern Category') }}<br>
        <br>{{ print_pref('fit', all_prefs.fit, 'Size') }}<br>
        <br>{{ print_pref('weight', all_prefs.weight, 'Yarn Weight') }}<br>
        <br>{{ print_pref('pa', all_prefs.pa, 'Technique') }}<br>
        <label><input type="submit" value="Search"</label>
    </form>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type='text/javascript' src='/static/search_forms.js'></script>


{% endblock %}